<!-- <p>movie works!</p> -->
<!-- <div>
    <h1>{{titre}}</h1>
    <p>{{description}}</p>
    <img [src]="img" alt="">
</div> -->


<div class="movie">
    <div class="img_affiche">
        <img [src]="movie.img" alt="">
    </div>
    <div class="enrobe">
        <span (click)="remove()" [ngStyle]="{'font-size' : '2em'}" ><i class="croix fa-solid fa-x"></i></span>
        <h1 class="titre">{{movie.titre}}</h1>
        <p class="description">{{movie.description}}</p>
        <div class="aime">
            <button [ngStyle]="{color : couleur}" (click)="heartClick()"><i class="fa-solid fa-heart"></i></button>
            <p class="like">{{movie.like}} likes</p>
        </div>
        
    </div>
    
</div>